body{
  background-color: #2E2E2E;
  color: #E6E6E6;
  font-family: 'Josefin Slab';
  text-align: center;
}

.toggle{
	margin: 25px;
}

.toggle#toWorkout {
    display: inline;
}

.toggle#toRegular {
    display: none;
}

button {
	border: solid 2px #E6E6E6;
	border-radius: 5px;
  	background: none;
}

.clock{
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

#duration-entry input{
	font-size: 20px;
	width: 60px;
	text-align: center;
	background: none;
	border: red;
}

.controls{
  	margin: 25px;
}

.controls button{
	width: 100px;
}

#break-entry {
    display: none;
}

#repetitions-entry {
    display: none;
}

#turn-stealth-on {
    display: visible;
}

#turn-stealth-off {
    display: none;
}

/* 
text-align set to left to properly align canvas
canvas is weird in that it's considered a text element

this makes sense when you're using canvas to draw text
but it makes no sense when you're using it to draw shapes

css can't distinguish between the two, therefore you must
use this weird hack to get around it
*/
#circle-border {
    text-align: left;
    z-index: -20;
}

#circle-backdrop {
    position: absolute;
    z-index: -10;
}

#circle-overlay {
    position: absolute;
    z-index: -5;
}