body{
  background-color: #2E2E2E;
  color: #E6E6E6;
  font-family: 'Josefin Slab';
  text-align: center;
}

.toggle{
	margin: 25px;
}

button {
	border: solid 2px #E6E6E6;
	border-radius: 5px;
  	background: none;
}

.clock{
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.clock input{
	font-size: 20px;
	width: 60px;
	text-align: center;
	background: none;
	border: red;
}

.controls{
  	margin: 25px;
}

.controls button{
	width: 100px;
}

/* text-align set to left to properly align canvas*/
#circle-border {
    text-align: left;
    position: absolute;
    z-index: -20;
}